.title {
    // text-align: center;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px;
    font-size: 40px;
    font-weight: 600;
  }
  
  .gap-large {
    background: #ffffff;
    margin-bottom: 20px;
    font-size: 32px
  }
  .gap-small {
    margin-bottom: 30px;
  }
  
  .btn{
    margin-bottom: 20px;
  }

.page-text{
  color:#333333;
  font-size:40px;
  // height:40px;
  padding: 20px;
}
.color-red{
  color:#da402c
}